<div class="d-flex justify-content-between

            flex-wrap flex-md-nowrap align-items-center

            pt-3 pb-2 mb-3 border-bottom">

  <h2 class="h2">Lista de Comidas</h2>

  <a routerLink="/add-comida" class="btn btn-success" *ngIf="!listaVazia">Adicionar Comida</a>

</div>


<div class="pricing-header mx-auto">


  <div class="loadWrapper" *ngIf="mostrarLoader">

    <div class="loader"></div>

  </div>


  <div class="text-center" *ngIf="listaVazia">

    <p>Nenhuma Comida adicionada ainda</p>

    <a routerLink="/add-Comida" class="btn btn-success">Adicionar Comida</a>

  </div>


  <div class="table-responsive" *ngIf="!listaVazia">

    <table class="table table-bordered">

      <thead>

        <tr>

          <th scope="col">#</th>

          <th scope="col">Nome</th>

          <th scope="col">Origem</th>

          <th scope="col">Tipo</th>

          <th class="text-center" scope="col">Editar</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let Comida of listacomidas | paginate: { itemsPerPage: 8, currentPage: page};

                    let i = index">

          <th scope="row">{{i+1}}</th>

          <td>{{Comida.nome}}</td>

          <td>{{Comida.origem}}</td>

          <td>{{Comida.tipo}}</td>

          <td class="text-center action-block">

            <span class="btn btn-outline-primary btn-sm"

              routerLink="/edit-comida/{{Comida.$key}}">Editar</span>

              <span class="mx-2 btn btn-outline-danger btn-sm"

               (click)="deletecomida(Comida)">Remover</span>

          </td>

        </tr>

      </tbody>

    </table>

    <pagination-controls class="text-end" previousLabel="Anterior" nextLabel="Próximo"

     (pageChange)="page = $event"></pagination-controls>

  </div>

</div>
